
<div class="container my-5">
  <div class="row">
    <form [formGroup]="submitForm" (ngSubmit)="submitted()" class="w-100">
      <div class="col-12" *ngFor="let form of formJson?.form; let i = index">
        <p class="mb-0">{{form.id}}</p>
        <ng-container *ngIf="form.id == 'gender'">
          <input type="radio" class="ml-2" name="gender" value="male" formControlName="{{form.id}}">
          <label class="ml-2">male</label>
          <input type="radio" class="ml-2" name="gender" value="female" formControlName="{{form.id}}">
          <label class="ml-2">female</label>
          <input type="radio" class="ml-2" name="gender" value="others" formControlName="{{form.id}}">
          <label class="ml-2">others</label>
        </ng-container>
        <ng-container *ngIf="form.id != 'gender'">
          <input type="{{form.type}}" class="form-control mb-2" name="{{form.id}}" formControlName="{{form.id}}">
        </ng-container>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">submit</button>
      </div>
    </form>
    <div class="col-12 mt-5">
      <h6 class="mb-0">Value</h6>
      <p class="mb-0" *ngFor="let form of formJson?.form; let i = index">
        {{form.id}}: {{submitForm.get(form.id)?.value}}
      </p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
